update_manifest:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: "Set GITHUB_BRANCH"
        run: |
          GITHUB_BRANCH=`sed 's/^refs\/heads\///' <<< $GITHUB_REF`
          echo "GITHUB_BRANCH=${GITHUB_BRANCH}" >> $GITHUB_ENV

      - name: Update Manifest for Ansible Hub UI
        env:
          GITHUB_PULL_REQUEST: {{ "${{ github.event.number }}" }}
          MANIFEST_PASSPHRASE: {{ "${{ secrets.MANIFEST_PASSPHRASE }}" }}
        run: .github/workflows/scripts/update_manifest.sh
        shell: bash
