  lint_po:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - run: |
          pip install lint-po
          lint-po ./galaxy_ng/locale/*/LC_MESSAGES/*.po
