# Determines how the dev environment should run. 
# Set to insights for developing app with settings for cloud.redhat.com
# Set tp standalone-keycloak to enable the Social Auth Login
COMPOSE_PROFILE=standalone

# The following two variables were initally specified in the galaxy_ng.env file.
# If you want the same environment for cypress testing as in CI
# you should set GALAXY_REQUIRE_CONTENT_APPROVAL=False in galaxy_ng/app/settings.py
# otherwise cypress cannot change it.
# PULP_GALAXY_REQUIRE_CONTENT_APPROVAL=false
# PULP_GALAXY_AUTO_SIGN_COLLECTIONS=true

# Add extra paths to run project dependencies from local filesystem in editable mode
# The order of repositories in the list is important, it is `:` separated.
# DEV_SOURCE_PATH='pulpcore:pulp_ansible:galaxy_ng'
DEV_SOURCE_PATH='galaxy_ng'

## Determines if pip should install packages from requirements/requirements.<COMPOSE_PROFILE>.txt
# set to `0` to bypass requirements and install only from setup.py for each DEV_SOURCE_PATH
# and unpin galaxy_ng/setup.py requirements
LOCK_REQUIREMENTS=1

## Reinstall checkouts on every container launch
WITH_DEV_INSTALL=1

# If you want to run the UI, clone https://github.com/ansible/ansible-hub-ui
# and set this to the path for the UI
# ANSIBLE_HUB_UI_PATH='/absolute/path/to/ansible-hub-ui'

# If you want to keep your current running environment but you need
# to build and run a separate env, this variable can set image and volume
# suffix to allow snapshoting of the environments.
#
# Tip: This can also be passed directly as a compose env argument
#      but in that case every ./compose call must have it
#      e.g:
#        ./compose build -e DEV_IMAGE_SUFFIX=_working_on_pr_123
#        DEV_IMAGE_SUFFIX=_pr_456 ./compose run --rm api manage test
#        ./compose up -e DEV_IMAGE_SUFFIX=_testing
#
# or set here to persist for every ./compose call.
# DEV_IMAGE_SUFFIX=""

# Volume suffix can be individually set
# defaults to the same as DEV_IMAGE_SUFFIX
# DEV_VOLUME_SUFFIX=${DEV_IMAGE_SUFFIX:-}

# Run `wait-for-migrations` script in dev environment.  Defaults to `0` for other environments
# where the script is executed in initContainers. 
WAIT_FOR_MIGRATIONS=1

# Enable setup of signing service in dev environment. Defaults to `0` for other environments
# sharing the same entrypoints.sh
# ATTENTION: THIS IS FOR DEV ENV AND CRC ONLY! DOES NOT AFFECT PRIVATE ENVIRONMENTS.
# 0 = No Signing Service, No Keyring
# 1 = All: Signing Service for collections, Signing Service for containers, Keyring for repos
# 2 = Only keyring for repos (for signature upload verification only scenario)
ENABLE_SIGNING=1

#### PULP SETTINGS
## Variables prefixed with `PULP_` are added to the `django.conf.settings` for pulp
####

## Add variables keycloak integration
## The keycloak public key is available on the keycloak playbook output
# PULP_SOCIAL_AUTH_KEYCLOAK_PUBLIC_KEY="keycloak-public-key"
## Define if your keycloak environment is not running on localhost
# PULP_KEYCLOAK_HOST_LOOPBACK="192.168.1.14"

## Enable CORS to access the openapispec on http://0.0.0.0:8003
# PULP_GALAXY_ENABLE_CORS=true
# PULP_GALAXY_CORS_ALLOWED_ORIGINS="*"
# PULP_GALAXY_CORS_ALLOWED_HEADERS="*"

## Enable automated logging to be written to /var/log/galaxy_api_access.log
# PULP_GALAXY_ENABLE_API_ACCESS_LOG=true

## Customize password length validation
# PULP_GALAXY_MINIMUM_PASSWORD_LENGTH=9

## Enable github social auth by setting these two values
# SOCIAL_AUTH_GITHUB_KEY=
# SOCIAL_AUTH_GITHUB_SECRET=

## Override the github urls for social auth
# SOCIAL_AUTH_GITHUB_BASE_URL=
# SOCIAL_AUTH_GITHUB_API_URL=

# Enable Dynamic Settings
# PULP_GALAXY_DYNAMIC_SETTINGS=true
