# Determines how the dev environment should run. Set to insights for developing
# app with settings for cloud.redhat.com
COMPOSE_PROFILE=standalone

# Add extra paths to run project dependencies from local filesystem in editable mode
DEV_SOURCE_PATH='galaxy_ng'

# If you want to run the UI, clone https://github.com/ansible/ansible-hub-ui
# and set this to the path for the UI
# ANSIBLE_HUB_UI_PATH='/absolute/path/to/ansible-hub-ui'
