# Determines how the dev environment should run. Set to insights for developing
# app with settings for cloud.redhat.com
COMPOSE_PROFILE=standalone

# Add extra paths to run project dependencies from local filesystem in editable mode
DEV_SOURCE_PATH='galaxy_ng'
