# This file contains dev requirements to be installed on dev host only
# to add requirements to dev container see requirements/requirements-dev.txt

coverage
flake8

flake8-black

flake8-docstrings

flake8-tuple
flake8-quotes

check-manifest

darker
isort

pip-tools