epdb
requests
# pulp requires compatibility with python 3.8
ansible-core<2.13.0
pytest
orionutils
openapi-spec-validator
jsonschema
hvac
importlib_resources
galaxykit @ git+https://github.com/ansible/galaxykit
