epdb
requests==2.31.0
# pulp requires compatibility with python 3.8
ansible-core<2.17.0
pytest
orionutils
openapi-spec-validator
jsonschema<=4.19.0
hvac
importlib_resources
galaxykit @ git+https://github.com/ansible/galaxykit
pyyaml
pytest-subtests
ldap3
setuptools