include CHANGES.rst
include COMMITMENT
include LICENSE
include integration_requirements.txt
include unittest_requirements.txt
include pyproject.toml
include requirements/requirements.common.txt
graft galaxy_ng/app/webserver_snippets
graft galaxy_ng/app/static
graft galaxy_ng/locale
exclude mkdocs.yml
exclude docs
exclude docs_requirements.txt
