site_name: Galaxy NG
site_url: "https://ansible.github.io/galaxy_ng"
site_description: Galaxy NG
repo_name: ansible/galaxy_ng
repo_url: "https://github.com/ansible/galaxy_ng"
edit_uri: edit/master/docs/
nav:
    - Home: index.md
    - Configuration:
        - Configuration options: config/options.md
        # - Enabling auto approval: config/collection_auto_approval.md
        # - Galaxy client configuration: config/galaxy_cli.md
        - Managing user access: config/user_access.md
        - Enabling collection signing: config/collection_signing.md
        - Enabling Container signing: config/container_signing.md
        - Feature Flags: config/featureflags.md  
    - User Guides:
        - Installation: usage_guide/installation.md
        - Collections: usage_guide/collections.md
        - Execution Environments: usage_guide/execution_environments.md
        - RBAC and User Management: usage_guide/rbac.md
    - Integration:
        # - Connecting Ansible Controllers: integration/controller.md
        - Using LDAP: integration/ldap.md
        # - Using Keycloak SSO: integration/keycloak.md
        # - Using S3: integration/s3.md
        # - Using Azure: integration/azure.md
        
    - Contributing:
        - Getting Started: dev/getting_started.md
        - GalaxyNG Basics:
            - Overview: dev/developer_guide/overview.md
            - Data Models: dev/developer_guide/data_models.md
            - REST API: dev/developer_guide/rest_api.md
            - Services: dev/developer_guide/services.md
            - RBAC: dev/developer_guide/rbac.md
        - Docker compose environment: dev/docker_environment.md
        - OCI Env Environment: dev/oci_env.md
        - Vagrant environment: dev/vagrant.md
        - Writing documentation: dev/writing_docs.md
    - Tags: tags.md
    - Community:
        - Overview: community/overview.md
        - User Guide: community/userguide.md
        - Development: community/devstack.md
theme:
  features:
      - search.suggest
      - search.highlight
      - search.share
      - content.code.annotate
  name: material
  palette:
    - scheme: default
      media: "(prefers-color-scheme: light)"
      primary: teal
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      media: "(prefers-color-scheme: dark)"
      primary: teal
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
plugins:
  - git-revision-date
  - tags:
        tags_file: tags.md
  - search:
      lang: en
      prebuild_index: true
markdown_extensions:
  - tables
  - attr_list
  - md_in_html
  - def_list
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.inlinehilite
  - abbr
  - pymdownx.snippets
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tilde
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - admonition
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
