[tool.towncrier]
package = "galaxy_ng"
filename = "CHANGES.md"
directory = "CHANGES/"
title_format = "## {version} ({project_date}) {{: #{version} }}"
template = "CHANGES/.TEMPLATE.md"
issue_format = "[#{issue}](https://github.com/ansible/galaxy_ng/issues/{issue})"
start_string = "[//]: # (towncrier release notes start)\n"
underlines = ["", "", ""]


[tool.black]
line-length = 100
target-version = ["py36", "py37"]
exclude = '''
/(
    \.eggs
  | \.git
  | \.venv
  | _build
  | build
  | dist
  | migrations
)/
'''


[tool.darker]
src = [
    "galaxy_ng",
]
revision = "master"
isort = true
lint = [
    "flake8 --config flake8.cfg",
]
log_level = "INFO"
line_length = 100


[tool.check-manifest]
ignore = [
    ".gitleaks.toml",
    ".bumpversion.cfg",
    "CHANGES/**",
    "CONTRIBUTING.rst",
    "HISTORY.rst",
    "dev_requirements.txt",
    "doc_requirements.txt",
    "functest_requirements.txt",
    "unittest_requirements.txt",
    "requirements/**",
    "docs/**",
    "galaxy_ng/tests/assets/**",
    "flake8.cfg",
    "template_config.yml",
    ".travis/**",
    ".travis.yml",
    ".flake8",
    ".pep8speaks.yml",
    ".ci/**",
    ".github/**",
    "dev/**",
    "docker/**",
    "openshift/**",
    "galaxy_ng/app/static/**",
    ".compose.env.example",
    ".dockerignore",
    "COMMITMENT",
    "Dockerfile",
    "Dockerfile.rhel8",
    "Makefile",
    "ROADMAP.rst",
    "ansible.cfg",
    "build_deploy.sh",
    "compose",
    "pr_check.sh",
    "lint_requirements.txt",
    "profiles/**",
    "galaxy_ng/_vendor/**",
]

[tool.tox]
legacy_tox_ini = """

"""

[tool.coverage.run]
relative_files = true
data_file = "/tmp/.coverage"
omit = [
	"galaxy_ng/_vendor/*",
	"galaxy_ng/tests/*",
]

[tool.ruff]
line-length = 100
extend-exclude = [
    "galaxy_ng/_vendor/",
]

[tool.ruff.lint]
extend-select = [
    # pycodestyle warnings
    "W",
    # flake8-bugbear
    "B",
    # flake8-comprehensions
    "C4",
]
extend-ignore = [
    # B904 requires using `raise ... from ...` to explicitly tell what to do with "parent"
    # exception. Would be nice to fix, but ignoring for now.
    "B904",
]
