# This file contains dev requirements to be installed inside container image.
# to add requirements to developer host machine see dev_requirements.txt

ipython
ipdb
pdbr
django-extensions

# used by management commands
orionutils
fauxfactory

# used by shell_plus
jedi
