-e git+https://github.com/pulp/pulp-container.git@master#egg=pulp-container  # via galaxy-ng (setup.py), pulp-ansible, pulp-container
-e git+https://github.com/pulp/pulp_ansible.git@master#egg=pulp_ansible  # via galaxy-ng (setup.py)
-e git+https://github.com/pulp/pulpcore.git@master#egg=pulpcore  # via galaxy-ng (setup.py), pulp-ansible, pulp-container
