---
name: Docker Compose Integration
on:
  pull_request:
    branches:
      - '**'
#  push:
#    branches:
#      - '**'
  workflow_dispatch:

jobs:
  integration:
    strategy:
      fail-fast: false
      matrix:
        env:
#          - TEST_PROFILE: ldap
#          - TEST_PROFILE: keycloak
#          - TEST_PROFILE: standalone
#          # - TEST_PROFILE: rbac
#          - TEST_PROFILE: rbac_parallel_group_1
#          - TEST_PROFILE: rbac_parallel_group_2
#          - TEST_PROFILE: certified-sync
#          - TEST_PROFILE: insights
#          - TEST_PROFILE: iqe_rbac
#          - TEST_PROFILE: x_repo_search
          - TEST_PROFILE: community
#          - TEST_PROFILE: dab_jwt

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: (Linux) Install docker compose
        run: |
          curl -L -o /tmp/docker-compose https://github.com/docker/compose/releases/download/v2.29.1/docker-compose-linux-x86_64
          install /tmp/docker-compose /usr/local/bin/

      - name: Spin up dev/compose/${{ matrix.env.TEST_PROFILE }}.yaml
        run: |
          docker compose -f dev/compose/community.yaml up --detach

      - name: Export environment variables to host
        run: |
          docker compose -f dev/compose/${{ matrix.env.TEST_PROFILE }}.yaml exec manager /bin/bash -c 'env | grep -v -w "HOME"' >> $GITHUB_ENV
          cat $GITHUB_ENV

      - name: Wait for API online status
        run: |
          max_runs=10
          for i in $(seq 1 $max_runs); do
            echo "$i: checking api status..."
            RESPONSE=$(curl -s -o /dev/null -w "%{http_code}" -u "${{ env.DJANGO_SUPERUSER_USERNAME }}:${{ env.DJANGO_SUPERUSER_PASSWORD }}" -LI http://localhost:5001/api/galaxy/pulp/api/v3/status/)
            if [ "$RESPONSE" -ne 200 ]; then
              echo "API is down. Retrying in 10 seconds..."
              sleep 10
            else
              echo "API online."
              exit 0
            fi
          done

      - name: Install integration requirements
        run: |
          pip install -r integration_requirements.txt

      - name: Run integration tests
        run: |
          pytest -v -r sx --color=yes -m '${{ env.HUB_TEST_MARKS }}' galaxy_ng/tests/integration