---
name: Verify pulp imposed constraints
on: {pull_request: {branches: ['*']}, push: {branches: ['*']}}
jobs:

  check_pulp_template_plugin:

    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Ensure sanity with plugin-template managed files
        run: make pulp/plugin-template-check
